:root {
  color-scheme: dark;
  --canvas-bg-color: rgba(0, 0, 0, 0); /* transparent */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: #504e52;
  border-style: dashed;
  border-width: 5;
  outline: none; /* because of the 'tabindex' focus trick */
  background-color: var(--canvas-bg-color);
}
